body {
  background: #000;
}

/* animation for pieceMoveable */
@keyframes pieceMoveable {
  /* move up & down */
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes pieceMoveableRotate {
  /* move up & down */
  0% {
    transform: translateY(0) rotate(180deg);
  }
  50% {
    transform: translateY(-5px) rotate(180deg);
  }
  100% {
    transform: translateY(0) rotate(180deg);
  }
}

/* animation for selectedPiece */
@keyframes pieceSelected {
  /* animate border */
  0% {
    border: 4px dashed #000;
  }
  50% {
    border: 4px dashed #fff;
  }
  100% {
    border: 4px dashed #000;
  }
}
